
.idea/aws.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/pythonProject.iml
.idea/vcs.xml
Atelier 1/__pycache__/Atelier1_Bonnemayre_Zampaglione_Version_Final.cpython-37.pyc
Atelier 2/__pycache__/Atelier1_Bonnemayre_Zampaglione_Version_Final.cpython-37.pyc
Atelier 3/__pycache__/Atelier1_Bonnemayre_Zampaglione_Version_Final.cpython-37.pyc
Atelier 3/ipython.html
*.html
